@media screen and (max-width: 1000px) {
    .welcome {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-bottom: 0;
    }

    .image-creator {
        position: unset;
    }

    .info-welcome {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 44px;
    }

    .list-tags {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .button-a {
        margin: 0px auto;
    }

    .rules {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .rules > .item {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .rules > .item:last-child {
        margin-bottom: 0px;
    }

    .footer-rule > p > br {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .qr {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .list-wallet {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .list-wallet > .item {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .list-wallet > .item:last-child {
        margin-bottom: 0;
    }

    .sponsors {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .logo-t {
        max-width: 97px;
    }

    .header-button {
        font-size: 20px;
        line-height: 145.5%;
    }

    .info-welcome > h1 {
        margin-top: 20px;
        font-size: 28px;
        line-height: 109.51%;
    }
    .info-welcome > p {
        font-size: 16px;
        line-height: 127.51%;
    }

    .message-part {
        padding: 10px 20px;
    }
    .message-part > p {
        font-size: 20px;
        line-height: 145.5%;
    }

    .icon-rule {
        width: 30px;
        height: 30px;
    }

    .head-rule > h1 {
        font-size: 26px;
        line-height: 145.5%;
    }

    .footer-rule > p {
        font-size: 18px;
    }

    .data-rule > p {
        font-size: 18px;
    }

    .body-calc {
        padding: 0px 22px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .body-calc > .item:first-child {
        padding-right: 0;
        border-right: none;
        border-bottom: 1px solid var(--color-d);
    }
    .body-calc > .item:last-child {
        padding-left: 0;
    }

    .qr-image {
        width: 147px;
        height: 147px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .data-qr > p {
        text-align: center;
        font-size: 18px;
        line-height: 112%;
    }

    .info-send {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
    }
    .info-send > p {
        margin-left: 0;
        margin-top: 10px;
    }

    .icon-data-adress > .icon-coin {
        display: none;
    }

    .ind-pay {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .ind-pay > p {
        font-size: 16px;
        line-height: 112%;
    }
    .ind-pay > .loader {
        width: 20px;
        height: 20px;
    }

    .qr {
        padding: 22px;
    }

    .wallet-methods > .list-wallet {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 6px 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6px;
    }
    .wallet-methods > .list-wallet > .item {
        margin-bottom: 0;
    }

    .top-info > span {
        width: 30px;
        height: 30px;
    }
    .top-info > h1 {
        font-size: 20px;
        line-height: 112%;
    }

    .head-instr > h1 {
        font-weight: 600;
        font-size: 20px;
        line-height: 112%;
    }
    .head-instr > p {
        font-size: 20px;
        line-height: 112%;
    }

    .responsive-faq {
        margin-top: 20px;
    }

    .head-faq {
        padding: 13px 18px;
    }
    .head-faq > p {
        font-weight: 400;
        font-size: 16px;
        line-height: 142%;
    }

    .body-faq {
        padding: 0px 18px;
        padding-bottom: 18px;
    }
    .body-faq > p {
        font-weight: 400;
        font-size: 16px;
        line-height: 142%;
    }

    .table-body > .item {
        padding: 10px;
    }

    .logo-footer {
        max-width: 74px;
    }

    footer > p {
        font-weight: 600;
        font-size: 14px;
        line-height: 145.5%;
    }
    footer > a {
        font-weight: 600;
        font-size: 18px;
        line-height: 145.5%;
        margin-bottom: 5px;
    }

    .info-data-pay {
        margin-left: 0;
    }

    .head-info-pay {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .head-info-pay > p {
        font-size: 18px;
        font-weight: 400;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .head-info-pay > h1 {
        font-size: 18px;
        font-weight: 400;
    }

    .data-m-wallet {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .data-m-wallet > .list-wallet {
        margin-left: 0;
        margin-top: 20px;
    }

    .list-data-info > .item > p {
        font-size: 16px;
    }
}
@media screen and (max-width: 425px) {
    .info-welcome > p > br {
        display: none;
    }
}