:root {
    --color-a: #000000;
    --color-b: #F1B823;
    --color-c: #24272C;
    --color-d: #BABABA;
    --color-e: #F9F9F9;
    --color-f: #F4F4F4;
    --color-g: rgba(241, 184, 35, 0.08);
    --color-h: #F3F3F3;
    --color-j: #C4C4C4;
    --color-k: #F1B823;
    --color-l: #E8E8E8;
    --color-o: #FFFFFF;
}