* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF30;
    border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
    background: #FFFFFF30;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #00000000;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: #00000000;
    border-radius: 10px;
}

::-webkit-resizer {
    background: #00000000;
    border-radius: 10px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

a, button, textarea, input {
    outline: none;
    text-decoration: none;
}

.responsive-main {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.responsive-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.header-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 100%;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    color: var(--color-k);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 145.5%;
    border: none;
    -webkit-appearance: none;
}
.header-button:hover {
    opacity: 0.8;
}

.logo-t {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 127px;
    width: 100%;
}
.logo-t > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.responsive-header {
    padding: 0px 20px;
    padding-top: 17px;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 886px;
    width: 100%;
    margin: 0px auto;
}

.welcome {
    max-width: 886px;
    position: relative;
    width: 100%;
    margin: 0px auto;
    padding: 56px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.responsive-welcome {
    padding: 0px 20px;
}

.list-tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 4px;
}
.list-tags > .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px 12px;
    background: var(--color-g);
    border-radius: 44px;
    margin-right: 10px;
}
.list-tags > .item:last-child {
    margin-right: 0;
}
.list-tags > .item > p {
    color: var(--color-b);
}

.info-welcome {
    position: relative;
    z-index: 1;
}
.info-welcome > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 109.51%;
    margin-bottom: 16px;
    color: var(--color-a);
}
.info-welcome > p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 127.51%;
    color: var(--color-a);
    margin-bottom: 26px;
}

.button-a {
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-appearance: none;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border: 1.4px solid var(--color-k);
    border-radius: 38px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 100%;
    padding: 0px 30px;
}
.button-a:hover {
    background: var(--color-k);
}
.button-a:hover > p {
    color: var(--color-o);
}
.button-a > p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: var(--color-a);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin-bottom: 4px;
}

.image-creator {
    position: absolute;
    top: 0;
    right: -35px;
}
.image-creator > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.message-part {
    position: relative;
    z-index: 1;
    padding: 18px 0;
    background: var(--color-k);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.message-part > p {
    padding: 0px 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 145.5%;
    color: var(--color-o);
}

.rules {
    max-width: 886px;
    width: 100%;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.rules > .item {
    width: 100%;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.rules > .item:last-child {
    margin-right: 0;
}

.responsive-rules {
    padding: 0px 20px;
    margin-top: 36px;
}

.icon-rule {
    width: 40px;
    height: 40px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-right: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='10' fill='%23F1B823' fill-opacity='0.08'/%3E%3Cpath d='M17.5259 26.1675L12.5762 21.3946L14.7773 19.2721L17.5259 21.93L25.2243 14.4991L27.4254 16.6216L17.5259 26.1675Z' fill='%23F1B823'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.head-rule {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
}
.head-rule > h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 145.5%;
    color: var(--color-a);
}

.footer-rule {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding: 24px;
    background: var(--color-e);
    border-radius: 13px;
}
.footer-rule > p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 145.5%;
    color: var(--color-a);
}
.footer-rule > p > span {
    color: var(--color-k);
}

.data-rule {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.data-rule > p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 145.5%;
    color: var(--color-a);
}
.data-rule > span {
    margin: 0px 8px;
    margin-top: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 14px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.34304 0.190381L13.4796 4.32695C13.7335 4.5808 13.7335 4.99235 13.4796 5.24619L9.34304 9.38277C9.0892 9.63661 8.67764 9.63661 8.4238 9.38277C8.16996 9.12893 8.16996 8.71737 8.4238 8.46353L11.4508 5.43657H0.65C0.291015 5.43657 0 5.14556 0 4.78657C0 4.42759 0.291015 4.13657 0.65 4.13657H11.4508L8.4238 1.10962C8.16996 0.855779 8.16996 0.444221 8.4238 0.190381C8.67764 -0.0634602 9.0892 -0.0634602 9.34304 0.190381Z' fill='%23F1B823'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.list-rules {
    margin-top: 20px;
}
.list-rules > .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 6px;
}
.list-rules > .item:last-child {
    margin-bottom: 0;
}
.list-rules > .item > span {
    margin-top: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    border-radius: 20px;
    width: 6px;
    height: 6px;
    margin-right: 14px;
    background: var(--color-k);
}

.container {
    max-width: 738px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 20px;
}

.container-table {
    max-width: 926px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 20px;
}

.calc {
    margin-top: 26px;
    border: 1.4px solid var(--color-d);
    border-radius: 13px;
}

.head-calc {
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid var(--color-j);
}
.head-calc > p {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 148.51%;
    color: var(--color-a);
}

.min-max-data {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.min-max-data > p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--color-a);
}

.body-calc {
    padding: 0px 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.body-calc > .item {
    padding: 28px 0;
    width: 100%;
}
.body-calc > .item:first-child {
    padding-right: 17px;
    border-right: 1px solid var(--color-d);
}
.body-calc > .item:last-child {
    padding-left: 18px;
}

.responsive-data-input {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.responsive-data-input > input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background: var(--color-h);
    border: 1.4px solid var(--color-d);
    border-radius: 7px;
    font-style: normal;
    font-weight: 400;
    height: 60px;
    font-size: 32px;
    color: var(--color-a);
    padding: 0px 16px;
    padding-bottom: 4px;
    padding-right: 56px;
}

.icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    right: 16px;
}
.icon > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.fast-count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
}
.fast-count > .item {
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 2px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    background: var(--color-h);
    border-radius: 3px;
    margin-right: 5px;
    width: 100%;
    max-width: 100%;
}
.fast-count > .item:last-child {
    margin-right: 0;
}
.fast-count > .item > p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 148.51%;
    color: var(--color-a);
}

.bonus-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2px 10px;
    margin-top: 10px;
    background: var(--color-h);
    border-radius: 3px;
}
.bonus-data > h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 148.51%;
    color: var(--color-a);
    margin-right: 10px;
}
.bonus-data > p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 148.51%;
    color: var(--color-k);
}
.qr-image {
    width: 219px;
    height: 219px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-right: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.qr-image > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.data-qr {
    width: 100%;
    overflow: hidden;
}
.data-qr > p {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 112%;
    color: var(--color-b);
    padding: 8px 15px;
    background: var(--color-g);
    border-radius: 4px;
}

.loader {
    width: 27px;
    height: 27px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-animation: loader 3s linear infinite;
            animation: loader 3s linear infinite;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.7929 6.164C15.495 6.164 16.8749 4.78414 16.8749 3.082C16.8749 1.37986 15.495 0 13.7929 0C12.0907 0 10.7109 1.37986 10.7109 3.082C10.7109 4.78414 12.0907 6.164 13.7929 6.164Z' fill='%23F1B823'/%3E%3Cpath d='M13.7924 26.3503C14.8135 26.3503 15.6414 25.5225 15.6414 24.5013C15.6414 23.4801 14.8135 22.6523 13.7924 22.6523C12.7712 22.6523 11.9434 23.4801 11.9434 24.5013C11.9434 25.5225 12.7712 26.3503 13.7924 26.3503Z' fill='%23F1B823'/%3E%3Cpath d='M6.21931 8.99136C7.75135 8.99136 8.99331 7.7494 8.99331 6.21736C8.99331 4.68532 7.75135 3.44336 6.21931 3.44336C4.68727 3.44336 3.44531 4.68532 3.44531 6.21736C3.44531 7.7494 4.68727 8.99136 6.21931 8.99136Z' fill='%23F1B823'/%3E%3Cpath d='M21.3652 22.9043C22.2163 22.9043 22.9062 22.2144 22.9062 21.3633C22.9062 20.5123 22.2163 19.8223 21.3652 19.8223C20.5141 19.8223 19.8242 20.5123 19.8242 21.3633C19.8242 22.2144 20.5141 22.9043 21.3652 22.9043Z' fill='%23F1B823'/%3E%3Cpath d='M3.08219 16.2562C4.44357 16.2562 5.54719 15.1526 5.54719 13.7912C5.54719 12.4298 4.44357 11.3262 3.08219 11.3262C1.72081 11.3262 0.617187 12.4298 0.617187 13.7912C0.617187 15.1526 1.72081 16.2562 3.08219 16.2562Z' fill='%23F1B823'/%3E%3Cpath d='M24.5015 15.0226C25.182 15.0226 25.7335 14.471 25.7335 13.7906C25.7335 13.1102 25.182 12.5586 24.5015 12.5586C23.8211 12.5586 23.2695 13.1102 23.2695 13.7906C23.2695 14.471 23.8211 15.0226 24.5015 15.0226Z' fill='%23F1B823'/%3E%3Cpath d='M4.69475 19.8391C3.85175 20.6821 3.85175 22.0461 4.69475 22.8891C5.53675 23.7321 6.90275 23.7321 7.74475 22.8891C8.58775 22.0461 8.58775 20.6821 7.74475 19.8391C6.90275 18.9951 5.53775 18.9871 4.69475 19.8391Z' fill='%23F1B823'/%3E%3Cpath d='M21.3635 7.14292C21.8738 7.14292 22.2875 6.72923 22.2875 6.21892C22.2875 5.70861 21.8738 5.29492 21.3635 5.29492C20.8532 5.29492 20.4395 5.70861 20.4395 6.21892C20.4395 6.72923 20.8532 7.14292 21.3635 7.14292Z' fill='%23F1B823'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 8px;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
.ind-pay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 14px;
}
.ind-pay > p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 112%;
    color: var(--color-a);
}

.icon-coin {
    width: 28px;
    height: 28px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 10px;
}
.icon-coin > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.qr-adress {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px 14px;
    padding-right: 10px;
    background: var(--color-h);
    border: 1.4px solid var(--color-d);
    border-radius: 4px;
    margin-top: 8px;
}

.icon-data-adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    overflow: hidden;
}
.icon-data-adress > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 112%;
    color: var(--color-a);
}

.copy-qr {
    cursor: pointer;
    width: 36px;
    height: 36px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='36' height='36' rx='3' fill='%23F1B823'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.4824 9.49935V10.8833H25.5883H25.59V10.8869C26.2552 10.8887 26.8581 11.168 27.2934 11.6209C27.7253 12.0703 27.9948 12.6916 27.9965 13.3791H28V13.3827V26.5007V26.5024H27.9965C27.9948 27.1899 27.7253 27.8148 27.2882 28.2677C26.8546 28.7153 26.2552 28.9946 25.5918 28.9964V29H25.5883H14.9293H14.9275V28.9964C14.2641 28.9946 13.6595 28.7153 13.2242 28.2624C12.7923 27.813 12.5228 27.1917 12.521 26.5042H12.5176V26.5007V23.5627H10.4117H10.41V23.5591C9.74657 23.5573 9.14192 23.278 8.70657 22.825C8.27468 22.3757 8.00518 21.7544 8.00346 21.0669H8V21.0633V9.49935V9.49756H8.00346C8.00518 8.80827 8.27641 8.18343 8.71176 7.73226C9.14537 7.28467 9.74484 7.00537 10.4082 7.00358V7H10.4117H21.0707H21.0725V7.00358C21.7376 7.00537 22.3405 7.28467 22.7758 7.73763C23.2077 8.18701 23.4772 8.80827 23.479 9.49577H23.4824V9.49935ZM21.6547 10.8833V9.49935V9.49577H21.6581C21.6581 9.33285 21.5907 9.18245 21.4836 9.07145C21.3783 8.96224 21.2314 8.89242 21.0742 8.89242V8.896H21.0725H10.4134H10.41V8.89242C10.2527 8.89242 10.1076 8.96224 10.0005 9.07324C9.89514 9.18245 9.82776 9.33464 9.82776 9.49756H9.83122V9.49935V21.0633V21.0669H9.82776C9.82776 21.2298 9.89514 21.3802 10.0022 21.4912C10.1076 21.6004 10.2545 21.6702 10.4117 21.6702V21.6667H10.4134H12.5193V13.3827V13.3809H12.5228C12.5245 12.6916 12.7957 12.0667 13.2311 11.6156C13.6647 11.168 14.2641 10.8887 14.9275 10.8869V10.8833H14.931H21.6547ZM26.1705 26.5007V13.3827V13.3791H26.174C26.174 13.2161 26.1066 13.0658 25.9995 12.9548C25.8941 12.8455 25.7473 12.7757 25.59 12.7757V12.7793H25.5883H14.9293H14.9258V12.7757C14.7686 12.7757 14.6235 12.8455 14.5164 12.9565C14.411 13.0658 14.3436 13.2179 14.3436 13.3809H14.3471V13.3827V26.5007V26.5042H14.3436C14.3436 26.6672 14.411 26.8175 14.5181 26.9285C14.6235 27.0378 14.7703 27.1076 14.9275 27.1076V27.104H14.9293H25.5883H25.5918V27.1076C25.749 27.1076 25.8941 27.0378 26.0012 26.9268C26.1066 26.8175 26.174 26.6654 26.174 26.5024H26.1705V26.5007Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 10px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.copy-qr:hover {
    opacity: 0.8;
}

.i-ver {
    width: 22px;
    height: 22px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 11.5238C22 9.86857 21.0834 8.43333 19.7498 7.75238C19.9111 7.29667 19.9991 6.80429 19.9991 6.28571C19.9991 3.97048 18.2078 2.09733 15.9995 2.09733C15.5072 2.09733 15.0358 2.18533 14.6 2.35924C13.9526 0.958572 12.5824 0 11.0005 0C9.41869 0 8.05057 0.960667 7.40003 2.35714C6.96529 2.18429 6.49283 2.09524 6.00048 2.09524C3.79011 2.09524 2.00086 3.97048 2.00086 6.28571C2.00086 6.80324 2.08781 7.29562 2.24913 7.75238C0.916623 8.43333 0 9.86648 0 11.5238C0 13.09 0.819199 14.455 2.03438 15.1758C2.01343 15.3539 2.00086 15.532 2.00086 15.7143C2.00086 18.0295 3.79011 19.9048 6.00048 19.9048C6.49283 19.9048 6.96424 19.8147 7.39898 19.6429C8.04847 21.0404 9.4166 22 10.9995 22C12.5834 22 13.9515 21.0404 14.6 19.6429C15.0347 19.8136 15.5061 19.9027 15.9995 19.9027C18.2099 19.9027 19.9991 18.0274 19.9991 15.7122C19.9991 15.5299 19.9866 15.3518 19.9646 15.1748C21.1777 14.455 22 13.09 22 11.5249V11.5238ZM15.0693 8.03105L10.5291 14.8406C10.3772 15.0679 10.1289 15.1905 9.87439 15.1905C9.72459 15.1905 9.57269 15.1486 9.4386 15.0585L9.31813 14.96L6.78825 12.43C6.48131 12.123 6.48131 11.6254 6.78825 11.3195C7.09519 11.0136 7.59278 11.0115 7.89867 11.3195L9.75287 13.1707L13.7598 7.15733C14.0008 6.79591 14.4889 6.70057 14.8493 6.94048C15.2118 7.18143 15.3102 7.66962 15.0693 8.03V8.03105Z' fill='%23119AFB'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.info-send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 14px;
}
.info-send > p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 112%;
    margin-left: 5px;
    color: var(--color-a);
}

.qr {
    width: 100%;
    margin-top: 16px;
    padding: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1.4px dashed var(--color-d);
    border-radius: 13px;
}

.head-instr {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
}
.head-instr > h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 112%;
    color: var(--color-a);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.head-instr > h1 > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 23px;
    cursor: pointer;
    margin-top: 4px;
    margin-right: 15px;
    height: 17px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='17' viewBox='0 0 23 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.28018 0.338078L0.320318 7.68381C-0.106773 8.13458 -0.106773 8.86542 0.320318 9.31619L7.28018 16.6619C7.70727 17.1127 8.39972 17.1127 8.82681 16.6619C9.2539 16.2112 9.2539 15.4803 8.82681 15.0295L3.73391 9.65427H21.8457C22.4832 9.65427 23 9.13749 23 8.5C23 7.86251 22.4832 7.34573 21.8457 7.34573H3.73391L8.82681 1.97046C9.2539 1.51969 9.2539 0.788848 8.82681 0.338078C8.39972 -0.112693 7.70727 -0.112693 7.28018 0.338078Z' fill='%23A5A5A5'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.head-instr > h1 > span:hover {
    opacity: 0.8;
}
.head-instr > p {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 112%;
    color: var(--color-a);
}
.head-instr > p > span {
    color: var(--color-k);
}

.responsive-instr {
    margin-top: 46px;
}

.data-m-wallet {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.data-m-wallet > .list-wallet {
    margin-left: 16px;
}
.data-m-wallet > .list-wallet > .item {
    height: 38px;
    padding: 10px 20px;
}
.data-m-wallet > .list-wallet > .item > img {
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.top-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.top-info > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='10' fill='%23F1B823' fill-opacity='0.08'/%3E%3Cpath d='M17.5249 26.1676L12.5752 21.3946L14.7763 19.2721L17.5249 21.9301L25.2233 14.4991L27.4244 16.6216L17.5249 26.1676Z' fill='%23F1B823'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 12px;
}
.top-info > h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 112%;
    color: var(--color-a);
}
.top-info > h1.h-type {
    font-weight: 700;
}

.list-wallet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.list-wallet.g-type-w {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 6px 1fr 6px 1fr 6px 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6px;
}
.list-wallet.g-type-w > .item {
    max-width: 100%;
    margin-right: 0;
}
.list-wallet > .item {
    padding: 0px 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    height: 49px;
    background: var(--color-f);
    border-radius: 4px;
    margin-right: 5px;
    width: 100%;
    max-width: 158px;
}
.list-wallet > .item:hover {
    opacity: 0.8;
}
.list-wallet > .item:last-child {
    margin-right: 0;
}
.list-wallet > .item > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -o-object-fit: contain;
       object-fit: contain;
}
.list-wallet > .item > p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 112%;
    color: var(--color-c);
}

.head-faq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 8px 16px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    padding-left: 32px;
}
.head-faq > p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 112%;
    color: var(--color-a);
}

.icon-faq {
    width: 30px;
    height: 30px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin-left: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_105_88' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect x='0.605469' y='0.66626' width='30' height='30' fill='%23C4C4C4'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_105_88)'%3E%3Ccircle cx='15.6055' cy='15.6663' r='14.3' stroke='%23F1B823' stroke-width='1.4'/%3E%3Cpath d='M21.0508 16.6897H16.4219V21.3186H14.4883V16.6897H9.85938V14.7561H14.4883V10.1155H16.4219V14.7561H21.0508V16.6897Z' fill='%23F1B823'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
}

.responsive-faq {
    margin-top: 60px;
    padding: 48px 0;
    background: var(--color-e);
}

.faq > .item {
    background: var(--color-o);
    border-radius: 6px;
    margin-bottom: 10px;
}
.faq > .item.active > .head-faq > .icon-faq {
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_105_107' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect x='0.015625' y='0.943848' width='30' height='30' fill='%23C4C4C4'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_105_107)'%3E%3Cmask id='mask1_105_107' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect x='0.015625' y='0.943848' width='30' height='30' fill='%23C4C4C4'/%3E%3C/mask%3E%3Cg mask='url(%23mask1_105_107)'%3E%3Ccircle cx='15.0156' cy='15.9438' r='14.3' stroke='%23F1B823' stroke-width='1.4'/%3E%3Cpath d='M18.1016 17.3892H11.7031V15.3853H18.1016V17.3892Z' fill='%23F1B823'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
}
.faq > .item:last-child {
    margin-bottom: 0;
}

.body-faq {
    padding: 0px 16px 12px 32px;
    display: none;
}
.body-faq > p {
    max-width: 570px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145.5%;
}
.body-faq > p > span {
    color: var(--color-k);
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 886px;
}
footer > p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 145.5%;
    color: var(--color-c);
}

.logo-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 127px;
    width: 100%;
}
.logo-footer > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.responsive-footer {
    margin-top: 24px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.sponsors {
    max-width: 676px;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.sponsors > .item {
    height: 49px;
    padding: 0px 20px;
    border: 1.4px dashed var(--color-l);
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.sponsors > .item > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.head-sponsors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 16px;
}
.head-sponsors > .i-ver {
    margin-right: 8px;
}
.head-sponsors > p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 148.51%;
    color: var(--color-c);
}

.responsive-sponsors {
    margin-top: 46px;
    padding: 0px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
.table-live {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.table-body > .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    overflow: auto;
    background: var(--color-o);
    border: 1.4px solid var(--color-h);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 6px;
    padding: 10px 24px;
    margin-bottom: 10px;
    -webkit-animation: fadein 0.6s ease-in-out;
            animation: fadein 0.6s ease-in-out;
    display: flex;
    position: relative;
}
.table-body > .item::before {
    position: absolute;
    top: 50%;
    content: "";
    width: 100%;
    border-bottom: 1px dashed var(--color-d);
}
.table-body > .item:last-child {
    margin-bottom: 0px;
}
.table-body > .item > .top, .table-body > .item .bottom {
    min-width: 800px;
    width: 100%;
}
.table-body > .item > .top > .data, .table-body > .item .bottom > .data {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
}
.table-body > .item > .top > .data > .data-item, .table-body > .item .bottom > .data > .data-item {
    max-width: 100px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    white-space: nowrap;
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    color: var(--color-c);
}
.table-body > .item > .top > .data > .data-item:nth-child(2), .table-body > .item .bottom > .data > .data-item:nth-child(2) {
    display: none;
}
.table-body > .item > .top > .data > .data-item:nth-child(8), .table-body > .item .bottom > .data > .data-item:nth-child(8) {
    display: none;
}
.table-body > .item > .top > .data > .data-item.space-t, .table-body > .item .bottom > .data > .data-item.space-t {
    padding-right: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    text-align: center;
    color: var(--color-c);
}
.table-body > .item > .top > .data > .data-item.space-status, .table-body > .item .bottom > .data > .data-item.space-status {
    padding-right: 20px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.table-body > .item > .top > .data > .data-item.space-status::before, .table-body > .item .bottom > .data > .data-item.space-status::before {
    margin: 3px 0px;
    position: relative;
    content: "";
    width: 31px;
    height: 31px;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15.5' cy='15.5' r='10.5' fill='white'/%3E%3Cpath d='M31 16.2381C31 13.9057 29.7084 11.8833 27.8293 10.9238C28.0566 10.2817 28.1806 9.58786 28.1806 8.85714C28.1806 5.59476 25.6564 2.95533 22.5448 2.95533C21.851 2.95533 21.1868 3.07933 20.5727 3.32438C19.6604 1.35071 17.7297 0 15.5007 0C13.2718 0 11.344 1.35367 10.4273 3.32143C9.81472 3.07786 9.14899 2.95238 8.45522 2.95238C5.3406 2.95238 2.81939 5.59476 2.81939 8.85714C2.81939 9.58638 2.94191 10.2802 3.16923 10.9238C1.29161 11.8833 0 13.9028 0 16.2381C0 18.445 1.15433 20.3685 2.86663 21.3841C2.8371 21.635 2.81939 21.886 2.81939 22.1429C2.81939 25.4052 5.3406 28.0476 8.45522 28.0476C9.14899 28.0476 9.81325 27.9207 10.4258 27.6786C11.341 29.6478 13.2688 31 15.4993 31C17.7312 31 19.659 29.6478 20.5727 27.6786C21.1853 27.9192 21.8495 28.0447 22.5448 28.0447C25.6594 28.0447 28.1806 25.4023 28.1806 22.1399C28.1806 21.883 28.1629 21.6321 28.1319 21.3826C29.8412 20.3685 31 18.445 31 16.2396V16.2381ZM21.234 11.3165L14.8365 20.9117C14.6224 21.232 14.2726 21.4048 13.9139 21.4048C13.7028 21.4048 13.4888 21.3457 13.2998 21.2188L13.1301 21.08L9.56526 17.515C9.13276 17.0825 9.13276 16.3813 9.56526 15.9502C9.99776 15.5192 10.6989 15.5162 11.1299 15.9502L13.7427 18.5587L19.3888 10.0853C19.7283 9.57605 20.4162 9.44171 20.924 9.77976C21.4347 10.1193 21.5735 10.8072 21.234 11.315V11.3165Z' fill='%23119AFB'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
}

.header-table {
    margin-bottom: 6px;
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(8, 1fr);
    padding: 0px 24px;
}
.header-table > .item {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 187%;
    color: #000000;
}

.table-live {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.data-live-header {
    margin-bottom: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.data-live-header > h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 112%;
    color: var(--color-c);
}

.icon-live {
    width: 28px;
    height: 28px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-left: 14px;
    margin-top: 4px;
}
.icon-live > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.responsive-table {
    margin-top: 47px;
}

.none {
    display: none !important;
}

.button-arrow-next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 56px;
    border: 1.4px solid var(--color-k);
    padding-left: 30px;
    padding-right: 18px;
    border-radius: 38px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 100%;
    cursor: pointer;
    margin-top: 14px;
}
.button-arrow-next > p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 148.51%;
    color: var(--color-a);
    margin-right: 28px;
}
.button-arrow-next > span {
    margin-top: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 65px;
    height: 16px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    background-image: url("data:image/svg+xml,%3Csvg width='65' height='16' viewBox='0 0 65 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M57.9319 0.318191L64.689 7.23182C65.1037 7.65607 65.1037 8.34393 64.689 8.76818L57.9319 15.6818C57.5173 16.1061 56.845 16.1061 56.4303 15.6818C56.0157 15.2576 56.0157 14.5697 56.4303 14.1454L61.3749 9.08637H1.08637C0.486385 9.08637 0 8.59999 0 8C0 7.40001 0.486386 6.91363 1.08637 6.91363H61.3749L56.4303 1.85455C56.0157 1.4303 56.0157 0.742445 56.4303 0.318191C56.845 -0.106064 57.5173 -0.106064 57.9319 0.318191Z' fill='%23F1B823'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.head-info-pay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 8px;
}
.head-info-pay > p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 112%;
    color: var(--color-b);
    padding: 9px 12px;
    background: var(--color-g);
    border-radius: 6px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 100%;
    margin-right: 14px;
}
.head-info-pay > h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 112%;
    color: var(--color-a);
}

.list-data-info {
    max-width: 494px;
    width: 100%;
}
.list-data-info > .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5px;
}
.list-data-info > .item:last-child {
    margin-bottom: 0;
}
.list-data-info > .item > p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 145.5%;
    color: var(--color-a);
}
.list-data-info > .item > span {
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 6px;
    height: 6px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-right: 14px;
    background: var(--color-k);
    border-radius: 20px;
}

.info-data-pay {
    margin-left: 52px;
}

.instr {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.instr.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.adress-copy {
    position: fixed;
    display: none;
    top: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 187%;
    color: #FFFFFF;
    background: var(--color-k);
    border-radius: 10px;
}